{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"],
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "browser": true
  },
  "plugins": ["@typescript-eslint"]
}
