<main class="bg-config">
    <div class="container-fluid">
        <div data-test="config-header">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-5 text-center">
                    <a>
                        <img
                                src="assets/images/rocket-header.png"
                                data-test="config-logo"
                                class="config-logo mt-4"
                                alt="rocket image"/>
                    </a>
                    <label class="mobile-show logo-text mb-5">Monitor realtime data</label>
                </div>
            </div>
        </div>

        <div data-test="config-body">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-5 text-center bg-config-boxes">


                </div>
            </div>
        </div>

        <div data-test="config-footer">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-sm-12 col-md-8 text-center p-0">
                    <h5 class="text-bottom">
                        Imagine sitting in a rocket in space and looking out the window at the stars passing by. You
                        always see only a section of stars, never the full space. By speed and position <a>(forward,
                        backward, sideways)</a> you see other stars or zoom in on a section and see more details of the
                        stars by getting closer to them. You can also stop the rocket and then look at the stars in
                        peace.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</main>
