/* General Colors*/
$colorAmber: #f0b71c;
$colorRed: #e85541;
$colorGreen: #0081ae;
$colorOrange: #ff9160;
$colorLightGrey: #f8f8f8;
$colorGrey: #b6bbd9;
$colorDarkGrey: #898a8b;
$colorBlue: #2b388f;
$colorDarkBlue: #001129;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorLightPurple: #f0f2f8;
$colorBeige: #f9efe4;
$colorVoilet: #e0e4fc;
$colorAccent: #ff4081;
