<div class="mt-5 mx-3 rounded-2" [ngClass]="isDark.value ? 'invert-color' : 'bg-white'">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button mat-button color="accent" routerLink="/" aria-label="back button">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <button mat-button [color]="isPlaying?'warn':'accent'" (click)="toggleRealtime()" aria-label="Play/Pause">
        <mat-icon>{{isPlaying? 'pause': 'play_arrow'}}</mat-icon>
      </button>
    </div>

    <mat-slide-toggle color="accent" class="me-2" [formControl]="isDark">
      <span [class.text-accent]="isDark.value">Dark Mode</span></mat-slide-toggle
    >
  </div>
  <hr class="m-0" />
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex"></div>
    <label [class.blink]="isPlaying" class=" me-2 text-success">{{ currentDate | date: 'medium' }}</label>
  </div>
  <hr class="mt-0" />
  <div class="row px-2">
    <div echarts [options]="options" [theme]="isDark.value ? 'dark':''" [merge]="updateOptions" (chartClick)="zoomBatch($event)" (chartInit)="onChartInit($event)" class="demo-chart"></div>
  </div>
</div>
